<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Send an offer</h1>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <%= form_tag administration_send_path(params[:id]), method: :post do %>
            Text: <%= text_area_tag 'text', ''%>
            <%= submit_tag "submit", value: "submit"%>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</main>